tmp/
.vercel/
node_modules/
src/*.js
src/**/*.js
!src/scripts/*.js
!src/scripts/generate-version.js
.env*
bin/*.js
bin/**/*.js
!bin/style.css
!bin/tikzjax/
!bin/fonts/
community.zip
dist/
.vercel
*.sh
*.zip